

/* Start:/bitrix/templates/first_copy/components/bitrix/catalog.section.list/menu_left/style.css?14847494341915*/
.new_left_menu>li>span>.background-icon-menu{
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-size: contain;
}
.new_left_menu>li>span{
    background: #AECE70;
    width: 65px;
    height: 45px;
    padding: 5px 15px;
    float: left;
    border-bottom: 1px solid #FFF;
}

.new_left_menu>li {
    margin-right: 10px;
    height: 45px;
    background-color: #FAFBF5;
    clear: both;
}

.new_left_menu>li>a {
    display: block;
    z-index: 30;
    border-bottom: 1px solid #AECE70;
    border-right: 5px solid #D9E8BB;
    height: 100%;
}

.new_left_menu {
    margin-top: 7px!important;
}

.new_left_menu>li:first-child > a{
    border-top: 1px solid #AECE70;
}
.new_left_menu>li:last-child > span{
    border-bottom: 1px solid #AECE70;
}
.new_left_menu>li > a:hover{
    border-right: 5px solid #AECE70;
}
.new_left_menu>li>a .img {
    width: 17px;
    background-position: 50% !important;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.new_left_menu>li:hover>span{
    background: #323232;
    color: #FFF;
    z-index: 9999;
    border:none;
    background-size: contain;
    background-repeat: no-repeat;
}



.uf-menu-pic-hover{
 display: none;
}

.its_first_perents_l li ul {
    padding: 0px;
    margin: 0px 0px 0 8px!important;
}
.its_first_perents_l li ul li a{
    text-decoration: underline;
}
.its_second_perents_l li ul li a{
    text-decoration: underline;
}

.its_first_l>li ul li:hover > a {
    background: #8FBB3F;
}
.its_first_l>li ul li:hover > span {
    background: #8FBB3F;
}

.its_first_l>li ul li span {
    padding: 1px;
    vertical-align: top;
}

.bx_sitemap{
    position: relative;
    z-index: 21;
}
.new_left_menu>li:hover > a {
    position: relative;
}
.new_left_menu>li:hover > span {
    position: relative;
}

/* End */


/* Start:/bitrix/templates/first_copy/components//bitrix/system.pagenavigation/.default/style.min.css?1475823978147*/
.system-nav-orange{color:#999;font-size:12px}.system-nav-orange .nav-current-page{color:white;background-color:#f90;font-weight:bold;padding:1px 0}
/* End */


/* Start:/bitrix/templates/first_copy/components/bitrix/news.list/index_left/style.css?14848190571558*/
.news_left{margin-right: 10px; margin-top:7px; position:relative; overflow:hidden;}
.nimg{padding: 10px;display:inline-block; vertical-align:middle; width:120px; text-align:Center;}
.nimg>a{display:block; margin:0 auto; width:75px; height:75px; background-color:#fff; border-radius:50%; padding:6px; position:relative; overflow:hidden; border:2px solid #d4d4d4;}
.ndata{display:inline-block; vertical-align:middle; width:250px; padding:10px 0;}
.news_left-item {
    border-top: 6px solid #8fbc3e;
    background-color: #fff;
}
.ndate {
    color: #2a2a2a;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 2px;
}
.ntitle p{margin:0 auto;}
.ntitle{font-size:14px; color:#2a2a2a;}
.ntitle a{text-decoration:none; color:inherit;}
.l-r{font-size:34px; text-align:center; position:relative;}
.l-r .left_news, .l-r .right_news {
    position: absolute;
    width: 25px;
    top: 50%;
    margin-top: -12.5px;
    height: 25px;
    background-color: #cfcfd0;
    text-align: center;
	cursor:pointer;
	}
.l-r img {
    position: absolute;
    transition: all 0.5s ease;
    width: auto;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -7px;
}
.l-r .title_news {
    font-size: 34px;
    line-height: 45px;
    font-weight: 400;
}
.l-r .left_news{left:4px;}
.l-r .right_news{right:4px;}
.right_news:hover img {
    left: 100%;
    margin-left: -12px;
}
.left_news:hover img {
    left: 0;
    margin-left: 0px;
}
.news_left .img {
    width: 378px;
    float: left;
}
.in_news_left {
    position: relative;
    width: 1000000px;
}

/* End */


/* Start:/bitrix/templates/first_copy/components/bitrix/news.list/home_baner_page/style.css?1484832009208*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.home-baner-jpg{
	margin-right: 10px;
	margin-top: 7px;
}
/* End */


/* Start:/bitrix/templates/first_copy/components/bitrix/news.list/news_home_right/style.css?1484815630406*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}


.news-list-hidden-box{
	border: 1px solid #c5c5c5;
	padding: 15px;
	background: #FAFBF5;
	margin-top: 7px;
}

.news-list-hidden-box-close{
	position: relative;
	float: right;
	bottom: 10px;
	left: 5px;
	font-weight: bold;
	color: red;
	cursor: pointer;
}
/* End */


/* Start:/bitrix/templates/first_copy/components/bitrix/catalog.section.list/home_product/style.css?14842962637272*/
/* line */
.bx_catalog_line{margin-bottom: 30px;}
.bx_catalog_line .bx_catalog_line_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_line .bx_catalog_line_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_line .bx_catalog_line_ul{padding: 0;}
.bx_catalog_line .bx_catalog_line_ul li{
	margin-bottom: 20px;
	list-style: none;
}
.bx_catalog_line .bx_catalog_line_ul li:before {content: '' !important}

.bx_catalog_line .bx_catalog_line_img{
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 40px;
	width: 125px;
	height: 125px;
	border:1px solid #ccc;
	border-radius: 2px;
			background-position: center;
			background-repeat: no-repeat;
	-webkit-background-size:contain;
			background-size:contain;
}

.bx_catalog_line .bx_catalog_line_title{
	margin-bottom: 10px;
	padding: 0;
	vertical-align: top;
	line-height: 18px;
}
.bx_catalog_line .bx_catalog_line_title a{
	color: #4c7da6;
	font-size: 18px;
}
.bx_catalog_line .bx_catalog_line_title a:hover{text-decoration: none;}
.bx_catalog_line .bx_catalog_line_title span{font-size: 16px}
.bx_catalog_line .bx_catalog_line_description{
	color: #3f3f3f;
	font-size: 13px;
	line-height: 16px;
}


@media (max-width:639px) {
	.bx-touch .bx_catalog_line .bx_catalog_line_img{
		margin-right: 10px;
		width: 50px;
		height: 50px;
	}

	.bx-touch .bx_catalog_line .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 14px;
	}
	.bx-touch .bx_catalog_line .bx_catalog_line_title a{font-size: 14px;}
	.bx-touch .bx_catalog_line .bx_catalog_line_description{font-size: 11px;}
}



.bx_catalog_line .bx_catalog_line_img,
.bx_catalog_line .bx_catalog_line_title,
.bx_catalog_line .bx_catalog_line_title a,
.bx_catalog_line .bx_catalog_line_description{
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	 		transition: all 0.3s ease;
}

/* text */
.bx_catalog_text{margin-bottom: 30px;}
.bx_catalog_text .bx_catalog_text_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_text .bx_catalog_text_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_text .bx_catalog_text_ul{padding: 0;}
.bx_catalog_text .bx_catalog_text_ul li{
	float: left;
	margin: 0 10px 10px;
	list-style: none;
}
.bx_catalog_text .bx_catalog_text_ul li:before {content: '' !important}
.bx_catalog_text .bx_catalog_text_title{
	margin: 0;
	padding: 0;
	vertical-align: top;
	line-height: 14px;
}
.bx_catalog_text .bx_catalog_text_title a{
	color: #4c7da6;
	white-space: nowrap;
	font-size: 14px;
}
.bx_catalog_text .bx_catalog_text_title a:hover{text-decoration: none}
.bx_catalog_text .bx_catalog_text_title span{font-size: 12px;}

@media (max-width:639px) {
	.bx-touch .bx_catalog_text .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 12px;
	}
	.bx-touch .bx_catalog_text .bx_catalog_line_title a{font-size: 12px;}
}

	.bx_catalog_text .bx_catalog_line_title,
	.bx_catalog_text .bx_catalog_line_title a{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}
	
/* tile */

.bx_catalog_tile{margin-bottom: 30px;}
.bx_catalog_tile .bx_catalog_tile_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_tile .bx_catalog_tile_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_tile .bx_catalog_tile_ul{padding: 0;}
.bx_catalog_tile .bx_catalog_tile_ul li{
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin-bottom: 20px;
	padding: 0 10px;
	width:12.5%;
	list-style: none;
	text-align: center;
}
.bx_catalog_tile .bx_catalog_tile_ul li:before {content: '' !important}
.bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: both;}

.bx_catalog_tile .bx_catalog_tile_img{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 78px;
	height: 78px;
	border:1px solid #ccc;
	border-radius: 2px;
			background-color: #fff;
			background-position: center;
			background-repeat: no-repeat;
	-webkit-background-size:contain;
			background-size:contain;
}
.bx_catalog_tile .bx_catalog_tile_title{
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0;
	vertical-align: top;
	line-height: 14px;
}
.bx_catalog_tile .bx_catalog_tile_title a{
	color: #4c7da6;
	font-size: 14px;
}
.bx_catalog_tile .bx_catalog_tile_title a:hover{text-decoration: none;}
.bx_catalog_tile .bx_catalog_tile_title span{font-size: 12px;}




/*2*/
@media (max-width:980px){
	.bx_catalog_tile .bx_catalog_tile_ul li{width:20%;}
	.bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: none;}
	.bx_catalog_tile .bx_catalog_tile_ul li:nth-child(5n+1){clear: both;}
}
/*3*/
@media (max-width:639px) {
	.bx-touch .bx_catalog_tile .bx_catalog_tile_title{
		margin-bottom: 5px;
		line-height: 14px;
	}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_title a{font-size: 11px;}
}
@media (min-width:480px) and (max-width:639px) {
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li{width:25%;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: none;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(4n+1){clear: both;}
}
/*4*/
@media (max-width:479px) {
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li{width:33.3%;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_img{
		width: 100%;
		height: 80px;
	}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(8n+1){clear: none;}
	.bx-touch .bx_catalog_tile .bx_catalog_tile_ul li:nth-child(3n+1){clear: both;}

}


	.bx_catalog_tile .bx_catalog_tile_title,
	.bx_catalog_tile .bx_catalog_tile_title a,
	.bx_catalog_tile .bx_catalog_tile_ul li,
	.bx_catalog_tile .bx_catalog_tile_img{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}
	
/* list */


.bx_sitemap .bx_sitemap_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_sitemap .bx_sitemap_title a{
	color: #000;
	text-decoration: none;
}

.bx_sitemap .bx_sitemap_ul li{
	padding: 0;
	line-height: 14px;
}
.bx_sitemap .bx_sitemap_ul li:before {content: '' !important}
.bx_sitemap .bx_sitemap_li_title{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-weight: normal;
	line-height: 13px;
	margin-bottom: 10px;
}
.bx_sitemap .bx_sitemap_li_title a{
	color: #4c7da6;
	white-space: nowrap;
	font-size: 13px;
}
.bx_sitemap .bx_sitemap_li_title a:hover{text-decoration: none}
.bx_sitemap .bx_sitemap_li_title span{font-size: 11px;}

@media (max-width:639px) {
	.bx-touch .bx_sitemap .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 12px;
	}
	.bx-touch .bx_sitemap .bx_catalog_line_title a{font-size: 12px;}
}

	.bx_sitemap .bx_catalog_line_title,
	.bx_sitemap .bx_catalog_line_title a{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}
/* End */
/* /bitrix/templates/first_copy/components/bitrix/catalog.section.list/menu_left/style.css?14847494341915 */
/* /bitrix/templates/first_copy/components//bitrix/system.pagenavigation/.default/style.min.css?1475823978147 */
/* /bitrix/templates/first_copy/components/bitrix/news.list/index_left/style.css?14848190571558 */
/* /bitrix/templates/first_copy/components/bitrix/news.list/home_baner_page/style.css?1484832009208 */
/* /bitrix/templates/first_copy/components/bitrix/news.list/news_home_right/style.css?1484815630406 */
/* /bitrix/templates/first_copy/components/bitrix/catalog.section.list/home_product/style.css?14842962637272 */
