.price-element-product{
    width: 147px;
    font-weight: bold;
    color: #4E4E4E;
    font-size: 20px;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 2px;
    text-align: center;
}
.col-md-6.element .add_in_card{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.col-md-6.element .add_in_card input[type="text"] {
    width: 50px;
    height: 25px;
    color: #333;
    border: 1px solid #4E4E4E;
    position: relative;
    float: left;
    padding-left: 0px;
    font-size: 15px;
}
.col-md-6.element .add_in_card input[type="submit"] {
    width: 30px;
    height: 25px;
    background-image: url(/css/../img/icon/korzina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4E4E4E;
    border: none;
}
.col-md-6.element .plus_inpt {
    position: absolute;
    top: 4px;
    left: 34px;
    color: #4E4E4E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.col-md-6.element .minus_inpt {
    position: absolute;
    top: 4px;
    left: 8px;
    color: #4E4E4E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.button-user-prop:hover{
    background-color: #94b82f;
}
.button-user-prop:hover a{
    color: #fff!important;
}
.tovar_wr .btn-product-docs-element tr td a {
    color: #000;
}

.button-user-prop{
    border: 1px solid #c7c7c7;
    width: 147px;
    margin: 2px;
    text-align: center;
    padding: 2px 0px;
}

.open_descr {
    top: 0px;
    background-color: #7d7d7d;
    font-size: 11px;
    color: #fff;
    transition: all 0.5s ease;
    font-weight: 300;
    cursor: pointer;
    position: absolute;
    line-height: 13px;
    padding: 2px 19px 2px 10px;
    right: 0px;
}
.col-md-12.yes {
    background-color: #fafbf4;
}

.tovar_wr h4 > a {
    color: #323232;
    font-size: 15px;
    font-family: 'DINPro Medium';
}
.tovar_wr h4 > a:hover {
    color: #8FBC3F;
}
.tovar_wr h4{
    margin-bottom: 12px;
}

.preview-text {
    font-size: 13px;
    font-family: 'DINPro Light';
    line-height: 1.35;
}

.icons-product-box img{
    max-width: 50px;
}

.icons-product-box{
    text-align: left;
    position: absolute;
    top: 0px;
    width: 250px;
}

.btn-product-docs-element{
    position: relative;
    margin-bottom: 10px;
}

.btn-product-docs-element ul{
    display: none;
    width: 147px;
    background-color: #8FBA40;
    color: #fff;
    padding: 2px 2px;
    margin-left: 2px;
    border-bottom: 1px solid #4a5d13;
    position: absolute;
    z-index: 20;
}
.btn-product-docs-element ul > li{
    text-align: right;
    position: relative;
    padding-right: 2px;
}
.btn-product-docs-element ul li a{
    color: #fff!important;
}
.btn-product-docs-element ul li:hover{
    background: #B7EA52;
}
.btn-product-docs-element ul li:hover a{
    color: #82A739!important;
}


.add_in_card{
    width: 147px;
    position: relative;
    margin-left: 3px;
}
.add_in_card input[type="submit"]{
    width: 47px!important;
}
.button-user-prop.toggle{
    position: relative;
    padding-right: 20px;
}
.button-user-prop.toggle.open{
    background-color: #94b82f;
}
.button-user-prop.toggle.open a{
    color: #fff;
}
.button-user-prop.toggle span{
    position: absolute;
    top: 0px;
    padding: 2px 7px;
    border-left: 1px solid #DADADA;
    right: 0px;
    height: 23px;
}

.item-section{
    text-align: center;
}
.section-buy{
    display: block;
    margin-left: 20px;
}
.section-buy h1{
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'DINPro Medium';
    font-size: 25px;
}

.title-optim{
    cursor: pointer;
}

.title-optim img{
    vertical-align: sub;
}
.title-optim h1{
    display: inline-block;
    font-family: 'DINPro light';
}
.text-optim{
    background: #DDEBC2;
    padding: 10px;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-family: 'DINPro Light';
    color: black;
}

.link-back-fon{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 19px;
    left: 0px;
}

.images-order .images-litl-order img{
    width: 36px;
    height: 36px;
}
.images-order > a{
    display: block;
    width: 125px;
    overflow: hidden;
}
.images-order .images-litl-order a{
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    display: block;
    width: 42px;
    height: 38px;
    float: left;

}
.images-order .images-litl-order a:nth-child(3n+3){
    margin-right: 0px;
}
.images-order .images-litl-order a:nth-child(1){  border-left: 1px solid #c7c7c7;border-top: 1px solid #c7c7c7;  }
.images-order .images-litl-order a:nth-child(2){  border-top: 1px solid #c7c7c7;  }
.images-order .images-litl-order a:nth-child(3){  border-top: 1px solid #c7c7c7;  }
.images-order .images-litl-order a:nth-child(4){  border-left: 1px solid #c7c7c7;  }

.images-order .images-litl-order{
    margin-top: 4px;
}

.border-top-line{
    border-top: 1px solid #c7c7c7;
    position: relative;
}

.free-shiping {
    position: absolute;
    top: -14px;
    right: 0px;
    padding: 1px;
    font-size: 9px;
    background: #dfeac0;
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
}

.bx_sitemap{
    margin-bottom: 40px;
}

.articul{
    font-size: 12px;
    margin-top: 4px;
    color: #828080;
}

.preview-text .option p{
    margin: 0px;
}
.preview-text .option p.opt_title{
    margin-top: 15px;
    font-weight: 500;
}