.tovar_wr{
    position: relative;
    border-top: 1px solid #c7c7c7;
}


.tovar_wr .btn-product-docs .hover-box > a{
    margin-right: 10px;
}
.tovar_wr h4 > a{
    color: #323232;
    font-size: 17px;
    font-family: 'DINPro Medium';
    cursor: default;
}
.preview-text{
    display: inline-block;
    font-size: 13px;
    font-family: 'DINPro Light';
    line-height: 1.35;
}

.col-md-9{
    padding-right: 0px!important;
}

.open_descr {
    top: 0px;
    background-color: #7d7d7d;
    font-size: 11px;
    color: #fff;
    transition: all 0.5s ease;
    font-weight: 300;
    cursor: pointer;
    position: absolute;
    line-height: 13px;
    padding: 2px 19px 2px 10px;
    right: 0px;
}






.back-fon-yelow.yes{background-color:#fafbf4;}
.tovar_wr > .padding-left_0 > a > img{
    max-width: 165px;
    margin-top: 20px;
}
.box-product-gr{
    min-height: 51px;
    position: relative;
    padding: 1px;

}

.box-product-gr .add_in_card {
    position: absolute;
    top: 12px;
    right: 8px;
}
.box-product-price{
    position: absolute;
    right: 180px;
    top: 10px;
    font-size: 22px;
}
.box-product-gr:last-child{
    border-bottom: 0px;
}



.open_product {
    top: 0px;
    background-color: #7d7d7d;
    font-size: 11px;
    color: #fff;
    transition: all 0.5s ease;
    font-weight: 300;
    cursor: pointer;
    position: absolute;
    line-height: 13px;
    padding: 2px 19px 2px 10px;
    right: 0px;
}
.open_product.yes {
    font-size: 0px;
    width: 19px;
    height: 19px;
    padding: 0px;
    background-color: #94b82f;
}

.product-block-all{
    position: relative;
}
.box-products-group.no {
    display: none;
}
.open_product.yes:after {
    content: "-";
    right: 7px;
    top: 8px;
}
.open_product:after {
    content: "+";
    display: block;
    font-size: 19px;
    line-height: 0px;
    position: absolute;
    top: 7px;
    right: 5px;
}
h5 a{
    cursor: default;
    font-family: 'DINPro', sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #333;
    text-transform: none;
    margin: 0.4em 0 0.4em;
}
h5 a:hover{
    color: #333;
}




.price-element-product{
    font-weight: 500;
    color: #4E4E4E;
    font-size: 22px;
}
.col-md-2.element .add_in_card{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.col-md-2.element .add_in_card input[type="text"] {
    width: 50px;
    height: 25px;
    color: #333;
    border: 1px solid #4E4E4E;
    position: relative;
    float: left;
    padding-left: 0px;
    font-size: 15px;
}
.col-md-2.element .add_in_card input[type="submit"] {
    width: 30px;
    height: 25px;
    background-image: url(/css/../img/icon/korzina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4E4E4E;
    border: none;
}
.col-md-2.element .plus_inpt {
    position: absolute;
    top: 4px;
    left: 34px;
    color: #4E4E4E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.col-md-2.element .minus_inpt {
    position: absolute;
    top: 4px;
    left: 8px;
    color: #4E4E4E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.icons-product-box img{
    max-width: 40px;
}

.icons-product-box{
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: left;
}

.col-md-2 > img{
    max-width: 165px;
}


.btn-product-docs .other-block-product-docs{
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 10;
    background: #fff;
    min-width: 200px;
    border: 1px solid #DADADA;
    padding: 5px;
    display: none;
}




#fancybox-thumbs > ul{
    margin: 0 auto;
}

.tovar_wr > .col-md-2{
    text-align: center;
}
.padding-right-null{
    padding-right: 0px!important;
}

.tovar_wr > .col-md-2.element img{
    margin-bottom: 15px;
}
.tovar_wr > .col-md-2.element{
    padding: 15px 0px;
}

.head-product-box > h4{
    margin-top: 10px;
    margin-bottom: 15px;
}

.col-md-5 > .btn-product-docs{
    float: right;
}

.col-md-6 > .price-element-product{
    margin-bottom: 20px;
}

.col-md-2 > a > img{
    max-width: 165px;
}

.btn-product-docs .prod-btn-docs > ul{
    display: none;
    position: absolute;
    right: 0px;
    top: 23px;
    background-color: #8FBA40;
    width: 147px;
    border-bottom: 1px solid #4a5d13;
    padding: 2px 2px;
    z-index: 10;
    border-top: 3px solid #fff;
}
.btn-product-docs .prod-btn-docs > ul > li{
    text-align: right;
    padding-right: 2px;
    cursor: pointer;
    position: relative;
}

.btn-product-docs.default > ul{
    left: 183px;
    right: 0px;
}

.btn-product-docs .prod-btn-docs > ul > li > a{
    color: #fff;
}
.btn-product-docs .prod-btn-docs > ul > li:hover{
    background: #B7EA52;
}
.btn-product-docs .prod-btn-docs > ul > li:hover a{
    color: #82A739;
}


.btn-product-docs .prod-btn-docs{
    float: left;
}

.btn-product-docs .prod-btn-docs.hover{
    position: relative;
}

.btn-product-docs.default .prod-btn-docs{
    margin-bottom: 10px;
}

.item-section{
    text-align: center;
}
.section-buy{
    display: block;
    margin-left: 20px;
}
.section-buy h1{
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'DINPro Medium';
    font-size: 25px;
}
.title-optim{
    cursor: pointer;
    margin-bottom: 20px;
}

.title-optim img{
    vertical-align: sub;
}
.title-optim h1{
    display: inline-block;
    font-family: 'DINPro light';
}
.text-optim{
    background: #DDEBC2;
    padding: 10px;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-family: 'DINPro Light';
    color: black;
}

.box-product-gr:nth-child(odd){
    background: #EBEBEB;
}

.box-product-gr h5{
    display: inline-block;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.tovar_wr .box-product-gr p{
    margin: 7px 5px;
    width: 700px;
}

.free-shiping{
    cursor: default;
    position: absolute;
    top: -12px;
    width: 85%;
    font-size: 9px;
    background: #dfeac0;
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
}
.free-shiping-no {
    width: 218px;
    cursor: default;
    z-index: 2;
    display: none;
    position: absolute;
    top: -24px;
    padding: 1px;
    font-size: 9px;
    background: #dfeac0;
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    text-align: left;
}
.nds-enable {
    position: absolute;
    top: -14px;
    right: 5px;
    font-size: 9px;
}

.box-products-group{
    border: 1px solid #EBEBEB;
}
.tovar_wr .btn-product-docs .prod-btn-docs > a{
    display: block;
    width: 147px;
    font-size: 15px;
    padding: 2px 0;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    text-align: center;
    color: #000;
}
.tovar_wr .btn-product-docs .prod-btn-docs.hover{
    border-right: 1px solid #c7c7c7;
}

.bx_sitemap{
    margin-bottom: 20px;
}

.title-optim h1{
    margin-top: 0px;
}

.link-back-fon{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 19px;
    left: 0px;
}

.articul{
    float: right;
    font-size: 12px;
    margin-top: 4px;
    color: #828080;
}

.title-optim span{
    font-size: 16px;
    color: #94b82f;
    text-decoration: underline;
    font-family: 'DINPro Medium';
}