
/* Start:/bitrix/templates/first_copy/components/bitrix/catalog/new/style.css?1475823978697*/
.grid{}
.grid .bx_content_section{
	margin-bottom: 15px;
}
.grid .bx_sidebar{
	margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
	float: left;
	width: 66%;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	float: right;
	width: 33%;
	margin-bottom: 15px;
	padding-left: 5%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){
	.grid2x1 .bx_sidebar{
		padding-left: 4%;
	}
}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{
		padding-left: 3%;
	}
}
@media (max-width:479px){
	.grid2x1 .bx_sidebar{
		padding-left: 1%;
	}

}
/* End */

/* Start:/bitrix/templates/first_copy/components/bitrix/catalog/new/bitrix/catalog.element/.default/themes/blue/style.css?1475823978591*/
/* item_detail_v2 */

/* item_detail_slider */
/* scu_detail_size */
/* scu_detail_scu */
.bx-retina .bx_item_detail.bx_blue .bx_item_slider .bx_slide ul li.bx_active .cnt,
.bx-retina .bx_item_detail.bx_blue .bx_item_detail_size ul li.bx_active .cnt,
.bx-retina .bx_item_detail.bx_blue .bx_item_detail_scu .bx_scu ul li.bx_active .cnt
{
	-webkit-border-image: url(/bitrix/templates/first_copy/components/bitrix/catalog/new/bitrix/catalog.element/.default/themes/blue/images/x2border_active.png) 2 stretch;
	-moz-border-image: url(/bitrix/templates/first_copy/components/bitrix/catalog/new/bitrix/catalog.element/.default/themes/blue/images/x2border_active.png) 2 stretch;
	-o-border-image: url(/bitrix/templates/first_copy/components/bitrix/catalog/new/bitrix/catalog.element/.default/themes/blue/images/x2border_active.png) 2 stretch;
	border-image: url(/bitrix/templates/first_copy/components/bitrix/catalog/new/bitrix/catalog.element/.default/themes/blue/images/x2border_active.png) 2 fill stretch;
}
/* End */
