
.products-home table td{
    position: relative;
    border: 1px solid #DADADA;
    width: 185px;
    height: 170px;
    vertical-align: bottom;
}


.products-home table td a{
    display: block;
    text-align: center;
    margin-top: 15px;
}

.products-home .name-home-product{
    margin-top: 15px;
    padding-top: 5px;
    font-size: 12px;
    color: black;
    height: 40px;

}
.box-home-product:hover .name-home-product{
    color: white;
    background: #9CC13F;
    text-decoration: underline;
}
.box-home-product{
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

}

.box-home-product:hover{
    top: -1px;
    position: absolute;
    border: 1px solid #9CC13F;
    color: white;
    text-decoration: underline;
}
.box-home-product:hover img{
    margin-top: -1px;
}

.product-home h1{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'DINPro Medium';
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    padding: 7px 10px;
    margin: 0px;
    background: #FAFBF5;
}



.products-home .product-home{
    margin: 11px 0px;
}

.products-home .product-home .baner{
    margin-top: 11px;
}
.products-home .product-home .baner img{
    width: 100%;
}

.title-optim {
    cursor: pointer;
    margin-bottom: 20px;
}
.title-optim span {
    font-size: 16px;
    color: #94b82f;
    text-decoration: underline;
    font-family: 'DINPro Medium';
}
.title-optim img {
    vertical-align: sub;
}
.text-optim {
    background: #DDEBC2;
    padding: 10px;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-family: 'DINPro Light';
    color: black;
}
.main_katalog{
    min-height: 500px;
}