.news_left{margin-right: 10px;    margin-bottom: 10px; margin-top:10px/*7px*/; position:relative; overflow:hidden;}
.nimg{padding: 10px;display:inline-block; vertical-align:middle; width:120px; text-align:Center;}
.nimg>a{display:block; margin:0 auto; width:75px; height:75px; background-color:#fff; border-radius:50%; padding:6px; position:relative; overflow:hidden; border:2px solid #d4d4d4;}
.ndata{display:inline-block; vertical-align:middle; width:250px; padding:10px 0;}
.news_left-item {
    border-top: 6px solid #8fbc3e;
    background-color: #fff;
}
.ndate {
    color: #2a2a2a;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 2px;
}
.ntitle p{margin:0 auto;}
.ntitle{font-size:14px; color:#2a2a2a;}
.ntitle a{text-decoration:none; color:inherit;}
.l-r{font-size:34px; text-align:center; position:relative;}
.l-r .left_news, .l-r .right_news {
    position: absolute;
    width: 25px;
    top: 50%;
    margin-top: -12.5px;
    height: 25px;
    background-color: #cfcfd0;
    text-align: center;
	cursor:pointer;
	}
.l-r img {
    position: absolute;
    transition: all 0.5s ease;
    width: auto;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -7px;
}
.l-r .title_news {
    font-size: 34px;
    line-height: 45px;
    font-weight: 400;
}
.l-r .left_news{left:4px;}
.l-r .right_news{right:4px;}
.right_news:hover img {
    left: 100%;
    margin-left: -12px;
}
.left_news:hover img {
    left: 0;
    margin-left: 0px;
}
.news_left .img {
    width: 378px;
    float: left;
}
.in_news_left {
    position: relative;
    width: 1000000px;
}
/* Стили из tempate.php */
.scroll-box{
		min-height: 71px;
	}
	.scroll-box > .media{
		padding: 10px 15px;
	}
	.media-body > .scroll-text,
	.media-body > .scroll-text-date{
		font-size: 12px;
		margin: 0px;
	}

	.media-body > .scroll-text > a{
		color: black;
	}

	.media-body > .scroll-text-date{
		font-style: italic;
		font-weight: 500;
	}
	.media > .media-left{
		padding-right: 10px;
		display: table-cell;
		vertical-align: top;
	}
	.media > .media-body{
		display: table-cell;
		vertical-align: top;
	}

	#content-news-scroll .scroll-box:nth-child(2n) {
		background: #f8f8f8/*#FAFBF5*/;
	}
	#content-news-scroll{
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
		border-bottom: 1px solid #DADADA;
	}

	.media-left a {
		background: #fff;
		border: 2px solid #DADADA;
		width: 100px;
		height: 78px;
		display: block;
	}

	.media-left > a > img{
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	.scroll-box:hover{
		background: #AECE70!important;
	}

	.mCSB_inside > .mCSB_container{
		margin-right: 0px;
	}
	.mCSB_scrollTools{
		margin: 10px auto;
	}

	.mCS-3d.mCSB_scrollTools .mCSB_draggerRail, .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail{
		background-color: transparent;
		box-shadow: none;
	}

	.news_left .title_news{
		cursor: pointer;
		padding: 5px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 400;
		font-size: 22px;
		background: #dadada/*#FAFBF5*/;
		border-bottom: 1px solid #DADADA;
		border-top: 2px solid #94B830;
		border-left: 1px solid #DADADA;
		border-right: 1px solid #DADADA;
		font-family:'DINPro Medium';
	}

