
.products-home table td{
    position: relative;
    border: 1px solid #DADADA;
    width: 185px;
    height: 170px;
    vertical-align: bottom;
}


.products-home table td a{
    display: block;
    text-align: center;
    margin-top: 15px;
}

.products-home .name-home-product{
    margin-top: 15px;
    padding-top: 5px;
    font-size: 12px;
    color: black;
    height: 40px;

}
.box-home-product:hover .name-home-product{
    color: white;
    background: #9CC13F;
    text-decoration: underline;
}
.box-home-product{
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

}

.box-home-product:hover{
    top: -1px;
    position: absolute;
    border: 1px solid #9CC13F;
    color: white;
    text-decoration: underline;
}
.box-home-product:hover img{
    margin-top: -1px;
}

.product-home h1{
    color: #323232;
    font-size: 20px;
    font-family: 'DINPro Light';
}

.products-home{
    margin-bottom: 10px;
}

