

/* Start:/bitrix/templates/first_copy/components/bitrix/catalog/new/style.css?1475823978697*/
.grid{}
.grid .bx_content_section{
	margin-bottom: 15px;
}
.grid .bx_sidebar{
	margin-bottom: 15px;
}

/* grid2x1 */
.grid2x1{}
.grid2x1 .bx_content_section{
	float: left;
	width: 66%;
	margin-bottom: 15px;
}
.grid2x1 .bx_sidebar{
	float: right;
	width: 33%;
	margin-bottom: 15px;
	padding-left: 5%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width:960px){
	.grid2x1 .bx_sidebar{
		padding-left: 4%;
	}
}
@media (max-width:640px) {
	.grid2x1 .bx_content_section,
	.grid2x1 .bx_sidebar{
		width: 100%;
		float: none;
	}
	.grid2x1 .bx_sidebar{
		padding-left: 3%;
	}
}
@media (max-width:479px){
	.grid2x1 .bx_sidebar{
		padding-left: 1%;
	}

}
/* End */


/* Start:/bitrix/templates/first_copy/components//bitrix/system.pagenavigation/.default/style.min.css?1475823978147*/
.system-nav-orange{color:#999;font-size:12px}.system-nav-orange .nav-current-page{color:white;background-color:#f90;font-weight:bold;padding:1px 0}
/* End */
/* /bitrix/templates/first_copy/components/bitrix/catalog/new/style.css?1475823978697 */
/* /bitrix/templates/first_copy/components//bitrix/system.pagenavigation/.default/style.min.css?1475823978147 */
