.new_left_menu>li>span>.background-icon-menu{
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-size: contain;
}
.new_left_menu>li>span{
    background: #AECE70;
    width: 65px;
    height: 45px;
    padding: 5px 15px;
    float: left;
    border-bottom: 1px solid #FFF;
}

.new_left_menu>li {
    margin-right: 10px;
    height: 33px;
    background-color: #FAFBF5;
    clear: both;
}

.new_left_menu>li>a {
    position: relative;
    display: block;
    z-index: 30;
    border-bottom: 1px solid #AECE70;
    border-right: 1px solid #AECE70;
    border-left: 1px solid #AECE70;
    height: 100%;
}
.new_left_menu>li>a img{
    max-width: 29px;
    margin-left: 10px;
    margin-right: 5px;
}

.new_left_menu {
    margin-top: 7px!important;
}

.new_left_menu>li:first-child > a{
    border-top: 1px solid #AECE70;
}
.new_left_menu>li:last-child > span{
    border-bottom: 1px solid #AECE70;
}
.new_left_menu>li > a:hover{
    border-right: 5px solid #AECE70;
}



.new_left_menu>li:hover>span{
    background: #323232;
    color: #FFF;
    z-index: 9999;
    border:none;
    background-size: contain;
    background-repeat: no-repeat;
}



.uf-menu-pic-hover{
 display: none;
}

.its_first_perents_l li ul {
    padding: 0px;
    margin: 0px 0px 0 8px!important;
}

.its_first_l>li ul li:hover > a {
    background: #8FBB3F;
}
.its_first_l>li ul li:hover > span {
    background: #8FBB3F;
}

.its_first_l>li ul li span {
    padding: 1px;
    vertical-align: top;
}

.bx_sitemap{
    position: relative;
    z-index: 21;
}
.new_left_menu>li:hover > a {
    position: relative;
}
.new_left_menu>li:hover > span {
    position: relative;
}
.new_left_menu span.arrow {
    font-size: 22px;
    text-align: right;
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
}
