.new_left_menu>li>span{
    margin: -5px 0px 0px -25px;
    position: absolute;
    height: 29px;
    width: 29px;
    border-radius: 3em;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0px;
}

.new_left_menu>li {
    width: 378px;
    clear: both;

}

.new_left_menu>li>a{
    display:block;
    z-index:30;
    margin: 20px 0px;
    position: relative;
    /*    border-bottom: 5px solid #f0f0f0; */
    /*    border-top: 5px solid #f0f0f0; */
    height:100%;
}

.new_left_menu>li>a .img {
    width: 50px;
    background-position: 50% !important;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.new_left_menu>li:hover>span{
    z-index: 9999;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-name-section{
    cursor: pointer;
    width: 140px;
    text-align: right;
    padding: 6px 0px;
    font-size: 13px;
}

.new_left_menu>li:hover>.text-name-section{
    color:#fff;
}
.for_left_b{
    width: 180px;
    position: absolute;
    left: -180px;
}

@media (max-width: 1290px) { /* это будет показано при разрешении монитора до 930 пикселей */
    .for_left_b{
        display: none;
    }
}